<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="{{ url_for('static',  filename='favicon.ico') }}" type="image/x-icon"/>
    <link href="{{ url_for('static',  filename='node_modules/material-design-icons/iconfont/material-icons.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/materialize-css/dist/css/materialize.min.css') }}" media="screen" title="no title">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
    {% block header %}{% endblock %}
  </head>
<body>
<!--- elektilo por cxiuj jaroj -->
<nav>
  <div class="nav-wrapper green darken-4">
    <a href="#!" class="brand-logo left">E-Renkontiĝoj</a>
    <ul class="brand-logo center">
        <ul>
            <li><a href="{{ url_for('organizacioj') }}">Kiu organizas kion?</a></li>
            <li><a href="{{ url_for('gxeneralajEventoj') }}">Kiuj eventoj ekzistas?</a></li>
            <li><a href="{{ url_for('konkretajEventoj') }}">Ĉijaraj eventoj</a></li>
            <li><a href="{{ url_for('vojagxPlan') }}">Planu vian vojagxon!</a></li>
        </ul>
    </ul>
    <ul class="brand-logo right">
        <ul>
            <li><a href="{{ url_for('gxeneralajEventoj') }}">Ensaluti</a></li>
            <li><a href="{{ url_for('gxeneralajEventoj') }}">Registri</a></li>
        </ul>
    </ul>
  </div>
</nav>
<!--- Hejmpagxo se nenia jaro estas elektita -->

<div class="container">
{% block informa_antaux_body %}
{% endblock %}
</div>

<div class="container">
{% block body %}
{% endblock %}
</div>

<!--- JSajxojn -->
<script type="text/javascript">var csrf_token = "{{ csrf_token() }}";</script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
{% block js %}{% endblock %}

</body>
</html>
