<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>E-Renkontiĝoj en la mondo</title>
    <link rel="icon" href="{{ url_for('static',  filename='favicon.ico') }}" type="image/x-icon"/>
    <link href="{{ url_for('static',  filename='node_modules/material-design-icons/iconfont/material-icons.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/materialize-css/dist/css/materialize.min.css') }}" media="screen" title="no title">
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/qtip2/dist/jquery.qtip.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet-locationpicker/dist/leaflet-locationpicker.src.css') }}" />
    <style type="text/css">
        #mapo {
            height: 800px;
            border: 1px solid black;
            margin-top: 10px;
            padding: 10px;
        }
        #cont-m {
          min-height: 1200px;
        }
        .leaflet-locpicker-map {
        	display: block !important;
        }
        .map-select {
            position: relative;
            left: 0 !important;
            top:  0 !important;
            width: 100% !important;
            margin: 0 auto;
        }
        .input-field div.error {
            position: relative;
            top: -1rem;
            left: 0rem;
            font-size: 0.8rem;
            color: #FF4081;
            -webkit-transform: translateY(30%);
            -ms-transform: translateY(30%);
            -o-transform: translateY(30%);
            transform: translateY(30%);
        }
    </style>
</head>
<body>
<!--- elektilo por cxiuj jaroj -->
    <nav>
      <div class="nav-wrapper green darken-4">
        <a href="#!" class="brand-logo left"> E-Renkontiĝoj</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <ul>
            {% for jar in jaroj %}
                {% if jar>2014 %}
                <li><a href="{{WWW}}/{{jar}}/">{{ jar }}</a></li>
                {% else %}
                <li><a href="{{WWW}}/{{jar}}/">{{ jar }}</a></li>
                {% endif %}
            {% endfor %}
            <ul>
        </ul>
      </div>
    </nav>
<!--- Hejmpagxo se nenia jaro estas elektita -->
{% if hejm %}
      <div class="row" id="cont-m">
        <div class="col l6 offset-l3 m8 offset-m2 s10 offset-s1">
          <form id="novevento" method="post" class="col s12">
            <div class="row"><label>Ĝeneralaĵoj</label></div>
            <div class="row">
              <div class="input-field col m6 s12">
                  <input placeholder="Eventnomo" name="eventnomo" type="text" required>
                  <label for="title">Nomo de la aranĝo:</label>
              </div>
              <div class="input-field col in-opts m6 s12">
                  <input placeholder="Kiu organizas?" name="organizanto" type="text" required>
                  <label for="organizer">Nomo de la organizanto:</label>
              </div>
              <div class="input-field col s12 m6 in-opts">
                  <select name="grandeco" placeholder="Elektu grandecon..." required>
                    <option value="default" selected disabled>Elektu grandeco</option>
                    <option value="1">1-20      </option>
                    <option value="2">20-30     </option>
                    <option value="3">31-50     </option>
                    <option value="4">51-100    </option>
                    <option value="5">101-200   </option>
                    <option value="6">201-500   </option>
                    <option value="7">501-1000  </option>
                    <option value="8">1001-pli  </option>
                  </select>
                  <label for="grandeco">Grandeco:</label>
              </div>
              <div class="input-field col s12 m6 in-opts">
                    <select multiple name="tipoj">
                      <option value="default" disabled selected>Kio temas pri?</option>
                      <option value="aktivista_renkontiĝo">Aktivista renkontiĝo</option>
                      <option value="grupa_migrado">Grupa migrado</option>
                      <option value="kultura_evento">Kultura evento</option>
                      <option value="lokgrupa_renkontiĝo">Lokgrupa renkontiĝo</option>
                      <option value="organizuma_renkontiĝo">Organizuma renkontiĝo</option>
                      <option value="poliglota_renkontiĝo">Poliglota renkontiĝo</option>
                      <option value="Renkontiĝo_kun_memorganizitaj_kursoj ">Renkontiĝo kun memorganizitaj kursoj </option>
                      <option value="scienca_renkontiĝo">Scienca renkontiĝo</option>
                      <option value="tauxga_por_komencantoj">Tauxga por komencantoj</option>
                    </select>
                    <label for="tipoj">Materialize Multiple Select</label>
              </div>
            </div>

            <div class="row"><label>Datoj</label></div>
            <div class="row">
                <div class="input-field col m6 s12">
                  <label>Komiencdato*</label>
                  <input name="ekdato" type="text" class="datepicker" required>
                </div>
                <div class="input-field col m6 s12">
                  <label>Findato (nedeviga)</label>
                  <input name="findato" type="text" class="datepicker" required>
                </div>
            </div>

            <div class="row"><label>Ejo</label></div>
            <div class="row">
            <div class="input-field col s12">
              <div class="input-field col m6 s12">
                  <div class="input-field col s12">
                      <input id="geoinput" name="geoloc" type="text" placeholder="0.0000,0.0000" required>
                      <label for="geoloc">Elektu la okazejo en la mapo:</label>
                  </div>
                  <div class="input-field in-opts col s12 bfh-selectbox bfh-countries" data-country="eo" data-flags="true">
                            <input type="text" name="lando" class="autocomplete" placeholder="Lando" required>
                            <label for="autocomplete-input">Elektu eventlando:</label>
                  </div>
                  <div class="input-field col s12">
                    <input placeholder="Urbonomo" name="urbnomo" type="text" required>
                    <label for="urbnomo">Nomo de okazurbo:</label>
                  </div>
              </div>
              <!--- MAP --->
              <div id="map" class="col m6 s12"></div>
            </div>
            </div>

            <div class="row"><label>Retajxoj</label></div>
            <div class="row">
              <div class="input-field col m6 s12">
                <input placeholder="http://www.lingvo-internacia.eu" name="website" type="text" required>
                <label for="website">Retpaĝo de la aranĝo:</label>
              </div>
              <div class="input-field col m6 s12">
                <input placeholder="nenio@eventoj.net" name="email" type="text" required>
                <label for="email">Poŝta adreso de organizanto:</label>
              </div>
            </div>

            <div class="row">
                  <div class="input-field col s12">
                    <textarea name="priskribo" class="materialize-textarea" length="520" required></textarea>
                    <label for="priskribo">Mallonga priskribo:</label>
                  </div>
            </div>
            <div class="row">
              <div class="input-field col row l4 offset-l4 m6 offset-m3 s12">
                <input placeholder="{{ GLOBAL.DEMANDO }}" name="sekreta" type="text" class="s12" required>
                <label for="sekreta">Respondu por kredigi vin: {{ GLOBAL.DEMANDO }} <i class="material-icons right tooltipped" data-position="top" data-tooltip="{{ GLOBAL.DEMANDO_KONSILO|safe }}">help_outline</i></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col row l4 offset-l4 m6 offset-m3 s12">
                <button href="#" id="premo" type="submit" class="col btn waves-effect waves-light s12">Aldonu eventon<i class="material-icons right">send</i></button>
              </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
        </div>
      </div>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/moment/min/moment-with-locales.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet-locationpicker/dist/leaflet-locationpicker.src.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap-formhelpers/js/lang/eo/bootstrap-formhelpers-countries.eo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='form.js') }}"></script>
{% else %}
<!--- Cxie tie cxion rilate al montri unu jaro de erenkontigxoj estas -->
<!--- Jen la sxangxbutenoj por sxangxi inter karta aux kalendara vido -->
<div class="row">
  <div class="col s12">
    <div class="card green-grey darken-1">
      <div class="card-content black-text">
    <div class="row">
    <div class="col s6 offset-s3">
      <ul class="tabs  offset-s1">
        <li class="tab col s3"><a href="#mapo">Mapo</a></li>
        <li class="tab col s3"><a href="#kalendaro">Kalendaro</a></li>
      </ul>
    </div>
    <!--- la karto -->
    <div id="mapo" class="col s10 offset-s1"></div>
    <!--- la kalendaro -->
    <div id="kalendaro" class="col s6 offset-s3"></div>
    </div>
        <!--- teksta listo de renkontigxoj en tabela formo -->
        <div class="row">
            <div class="col s10 offset-s1">
              <table class="striped bordered">
                <thead>
                  <tr>
                      <th data-field="nomo">Nomo</th>
                      <th data-field="loko">Loko</th>
                      <th data-field="tempo">Tempo</th>
                      <th data-field="tempo">Priskribo</th>
                      <th data-field="tempo">Kontakto</th>
                  </tr>
                </thead>

                <tbody>
                {% for ren in renoj %}
                  <tr>
                    <td><a href="{{ ren.link }}">{{ ren.nomo }}</a></td>
                    <td>{{ ren.loko }}</td>
                    <td>{{ ren.tempo }}</td>
                    <td>{{ ren.text }}</td>
                    <td><a href="mailto:{{ren.mail}}">Alretpoŝtu!</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--- JSajxojn -->
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/moment/min/moment-with-locales.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/qtip2/dist/jquery.qtip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    //setup tabs
    $(document).ready(function(){
        $('ul.tabs').tabs();
        initCalendar({{ jar|safe }}, {{ renoj|safe }});
    });
</script>
{% endif %}

</body>
</html>
