<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>E-Renkontiĝoj en la mondo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" />
    <style type="text/css">
        #mapo { 
            height: 800px; 
            border: 1px solid black;
            margin-top: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>

    <nav>
      <div class="nav-wrapper green darken-4">
        <a href="#!" class="brand-logo left"> E-Renkontiĝoj</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% for jar in jaroj %}
          <li><a href="{{WWW}}/{{jar}}/">{{ jar }}</a></li>
            {% endfor %}
        </ul>
      </div>
    </nav>

{% if hejm %}
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card green-grey darken-1">
      <div class="card-content black-text">
              <span class="card-title">Bonvenon al renkontiĝejo.</span>
              <p>Jen la renkontiĝoj de Esperantujo ekde 1996 :)</p>
              <p>Simple klaku la jarnombro supre.</p>
              <p>Bedaûrinde ankoraû ne aû nur parte funkscias jaroj antaû 2014...</p>
            </div>
          </div>
        </div>
      </div>
{% else %}
<div class="row">
  <div class="col s12">
    <div class="card green-grey darken-1">
      <div class="card-content black-text">
    <div class="row">
    <div class="col s6 offset-s3">
      <ul class="tabs  offset-s1">
        <li class="tab col s3"><a href="#mapo">Mapo</a></li>
        <li class="tab col s3"><a href="#kalendaro">Kalendaro</a></li>
      </ul>
    </div>
    <div id="mapo" class="col s10 offset-s1"></div>
    <div id="kalendaro" class="col s6 offset-s3"></div>
    </div>

<div class="row">
    <div class="col s10 offset-s1">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="nomo">Nomo</th>
              <th data-field="loko">Loko</th>
              <th data-field="tempo">Tempo</th>
              <th data-field="tempo">Priskribo</th>
              <th data-field="tempo">Kontakto</th>
          </tr>
        </thead>

        <tbody>
        {% for ren in renoj %}
          <tr>
            <td><a href="{{ ren.link }}">{{ ren.nomo }}</a></td>
            <td>{{ ren.loko }}</td>
            <td>{{ ren.tempo }}</td>
            <td>{{ ren.text }}</td>
            <td><a href="mailto:{{ren.mail}}">Alretpoŝtu!</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<!---karta efiko -->
            </div>
          </div>
        </div>
      </div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/eo.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript">
    //setup tabs
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
    
    //setup Calendar
    $('#kalendaro').fullCalendar({
        locale:"eo",
        minDate: "{{jar}}-01-01",
        maxDate: "{{jar}}-12-31",
        header: {
            left: '',
            center: 'title',
            right: 'prev,next'
        },
         events: [
        {% for ren in renoj %}
            {% if ren.periodo.ektago %}
            { 
                title  : '{{ ren.nomo }}',
                start  : '{{jar}}-{{ren.periodo.ekmonato}}-{{ren.periodo.ektago}}'{% if ren.periodo.fintago %},
                end    : '{{jar}}-{{ren.periodo.finmonato}}-{{ren.periodo.fintago}}'{% endif %}
            },
            {% endif %}
        {% endfor %}
        ]
    }).fullCalendar( 'gotoDate', "{{jar}}-01-01" );

    // set up the map
    map = new L.Map('mapo');

    // create the tile layer with correct attribution
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {minZoom:3,attribution: osmAttrib});       

    // start the map in South-East England
    map.setView(new L.LatLng(51.3, 0.7),3);
    map.addLayer(osm);

{% for ren in renoj %}
    {% if ren.lat is defined %}
        var marker_{{ loop.index }} = L.marker([{{ren.lat}}, {{ ren.lon }}]).addTo(map);
        var m{{ loop.index }}_str='<dt><b><a href="{{ ren.link }}">{{ ren.nomo }}</a></b></dt><dt><b>Loko:</b></dt><dd>{{ ren.loko }}</dd><dt><b>Tempo:</b></dt><dd>{{ ren.tempo }}</dd><dt><b>Priskribo:</b></dt><dd>{{ ren.text }}</dd><dt><b>Kontakto:</b></dt><dd><a href="mailto:{{ren.mail}}">Alretpoŝtu!</a></dd>'
        marker_{{ loop.index }}.bindPopup(m{{ loop.index }}_str)
    {% endif %}
{% endfor %}

{% endif %}
</script>
</body>
</html>
