<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>E-Renkontiĝoj en la mondo</title>
    <link href="{{ url_for('static',  filename='node_modules/material-design-icons/iconfont/material-icons.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/materialize-css/dist/css/materialize.min.css') }}" media="screen" title="no title">
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/qtip2/dist/jquery.qtip.css') }}" />
    <style type="text/css">
        #mapo {
            height: 800px;
            border: 1px solid black;
            margin-top: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
<!--- elektilo por cxiuj jaroj -->
    <nav>
      <div class="nav-wrapper green darken-4">
        <a href="#!" class="brand-logo left"> E-Renkontiĝoj</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <ul>
            {% for jar in jaroj %}
                {% if jar>2014 %}
                <li><a href="{{WWW}}/{{jar}}/">{{ jar }}</a></li>
                {% else %}
                <li><a href="{{WWW}}/{{jar}}/">{{ jar }}</a></li>
                {% endif %}
            {% endfor %}
            <ul>
        </ul>
      </div>
    </nav>
<!--- Hejmpagxo se nenia jaro estas elektita -->
{% if hejm %}
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card green-grey darken-1">
            <div class="card-content black-text">
              <span class="card-title">Bonvenon al renkontiĝejo.</span>
              <p>Jen la renkontiĝoj de Esperantujo ekde 1996 :)</p>
              <p>Simple klaku la jarnombro supre.</p>
              <p>Bedaûrinde ankoraû ne aû nur parte funkscias jaroj antaû 2014...</p>
              <p>Se vi volas enigi novan eventon jen:</p>
              <form method="post">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </form>
            </div>
          </div>
        </div>
      </div>
{% else %}
<!--- Cxie tie cxion rilate al montri unu jaro de erenkontigxoj estas -->
<!--- Jen la sxangxbutenoj por sxangxi inter karta aux kalendara vido -->
<div class="row">
  <div class="col s12">
    <div class="card green-grey darken-1">
      <div class="card-content black-text">
    <div class="row">
    <div class="col s6 offset-s3">
      <ul class="tabs  offset-s1">
        <li class="tab col s3"><a href="#mapo">Mapo</a></li>
        <li class="tab col s3"><a href="#kalendaro">Kalendaro</a></li>
      </ul>
    </div>
    <!--- la karto -->
    <div id="mapo" class="col s10 offset-s1"></div>
    <!--- la kalendaro -->
    <div id="kalendaro" class="col s6 offset-s3"></div>
    </div>
        <!--- teksta listo de renkontigxoj en tabela formo -->
        <div class="row">
            <div class="col s10 offset-s1">
              <table class="striped bordered">
                <thead>
                  <tr>
                      <th data-field="nomo">Nomo</th>
                      <th data-field="loko">Loko</th>
                      <th data-field="tempo">Tempo</th>
                      <th data-field="tempo">Priskribo</th>
                      <th data-field="tempo">Kontakto</th>
                  </tr>
                </thead>

                <tbody>
                {% for ren in renoj %}
                  <tr>
                    <td><a href="{{ ren.link }}">{{ ren.nomo }}</a></td>
                    <td>{{ ren.loko }}</td>
                    <td>{{ ren.tempo }}</td>
                    <td>{{ ren.text }}</td>
                    <td><a href="mailto:{{ren.mail}}">Alretpoŝtu!</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--- JSajxojn -->
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/moment/min/moment-with-locales.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='node_modules/qtip2/dist/jquery.qtip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    //setup tabs
    $(document).ready(function(){
        $('ul.tabs').tabs();
        initCalendar({{ jar|safe }}, {{ renoj|safe }});
    });
</script>
{% endif %}

</body>
</html>
