{% extends "base.html" %}

{% block header %}
    <title>E-Renkontiĝoj en la mondo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/qtip2/dist/jquery.qtip.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet.markercluster/dist/MarkerCluster.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css') }}">
{% endblock %}

{% block body %}
<!--- Cxie tie cxion rilate al montri unu jaro de erenkontigxoj estas -->
<!--- Jen la sxangxbutenoj por sxangxi inter karta aux kalendara vido -->
<div class="row">
  <div class="col s12">
    <div class="card green-grey darken-1">
      <div class="card-content black-text">
    <div class="row">
    <div class="col s6 offset-s3">
      <ul class="tabs  offset-s1">
        <li class="tab col s3"><a href="#mapo">Mapo</a></li>
        <li class="tab col s3"><a href="#kalendaro">Kalendaro</a></li>
      </ul>
    </div>
    <!--- la karto -->
    <div id="mapo" class="col s10 offset-s1"></div>
    <!--- la kalendaro -->
    <div id="kalendaro" class="col s6 offset-s3"></div>
    </div>
        <!--- teksta listo de renkontigxoj en tabela formo -->
        <div class="row">
            <div class="col s10 offset-s1">
              <table id="eventtablo" class="striped bordered">
                <thead>
                  <tr>
                      <th data-field="nomo">Eventnomo</th>
                      <th data-field="loko">Loko</th>
                      <th data-field="tempo">Komenco</th>
                      <th data-field="tempo">Fino</th>
                      <th data-field="tempo">Priskribo</th>
                      <th data-field="tempo">Ligilo</th>
                  </tr>
                </thead>
                <tbody>
                {% for ren in renoj %}
                  <tr>
                    <td><a href="{{ url_for('konkretaEvento', nomo=ren.nomo) }}">{{ ren.nomo }}</a></td>
                    {# Kiel kontrulu malegaleco kun None? #}
                    {% if ren.urbo != None %}
                    <td>{{ ren.urbo }} - {{ ren.lando }}</td>
                    {% elif ren.regiono != ren.lando %}
                    <td>{{ ren.regiono }}</td>
                    {% else %}
                    <td> - </td>
                    {% endif %}
                    <td>{{ ren.ektempo }}</td>
                    <td>{% if ren.fintempo %} {{ ren.fintempo }} {% else %} - {%endif%}</td>
                    <td>{% if ren.priskribo %} {{ ren.priskribo }} {% else %} - {%endif%}</td>
                    <td>{% if ren.ligilo != None %}
                        <a href="{{ ren.ligilo }}"><i class="small material-icons">open_in_new</i></a>
                        {% else %} - {%endif%}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<!--- JSajxojn -->
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet.markercluster/dist/leaflet.markercluster.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/qtip2/dist/jquery.qtip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('ul.tabs').tabs();
        var eventoj = {{ renoj|tojson_str_encoded|safe }};
        initCalendar(eventoj);
        initMapo(eventoj);

        var rows = $("#eventtablo tbody").children();
        for(const r of rows){
            //la dua enhavas la datoj
            var dataCxielo = r.cells[2]
            var dataTexto  = dataCxielo.innerText
            var belaDato   = moment(dataTexto, "YYYY-MM-DD").format("Do MMM YYYY");
            dataCxielo.innerText = belaDato

            var dataCxielo = r.cells[3]
            var dataTexto  = dataCxielo.innerText
            var belaDato   = moment(dataTexto, "YYYY-MM-DD").format("Do MMM YYYY");
            dataCxielo.innerText = belaDato
        }
    });
</script>
{% endblock %}
