{% extends "base.html" %}

{% block header %}
    <style>
      #cont-m {
        margin-top: 50px;
        padding-buttom: 50px;
      }
    </style>
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet.markercluster/dist/MarkerCluster.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css') }}">
{% endblock %}

{% block body %}
<div class="row center-align container z-depth-1" id="cont-m">
  <div class="col grey lighten-4 s12">
    <h3 class="grey-text text-darken-4">{{ teamo.nomo }}</h3>
    <div class="col s12 m3">
        {% if teamo.logo %}
        <img class="fillwidth responsive-img" src="{{ url_for('static', filename=teamo.logo) }}">
        {% else %}
        <img class="fillwidth responsive-img" src="{{ url_for('static', filename='img/stelo.jpg') }}">
        {% endif %}
    </div>
    <div class="col row s12 m9 left-align">
      En la {{ teamo.nomo }} estas tiuj organizacioj:
      <div class="col s12 row">
        {% for team in membroj %}
        <a class="col s2" href="{{ url_for('organizacio', nomo=team.orga_mallongigo) }}">
            {% if team.logo %}
            <img class="circle responsive-img" src="{{ url_for('static', filename=team.logo) }}">
            {% else %}
            <img class="circle responsive-img" src="{{ url_for('static', filename='img/stelo.jpg') }}">
            {% endif %}
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="col s10 offset-s1">
        <p>{{ teamo.nomo }} organizas tiuj eventoj regule:</p>
        {% if (eventoj.values()|list) != [[]] %}
        <h5>{{ team_nomo }} organizas tiuj eventoj:</h5>
              {% for gevento, eventoj in eventoj.items() %}
              <ul class="collection">
                  {% for evento in eventoj[:2] %}
                  <li class="collection-item avatar">
                      {% if evento.logo != None %}
                      <img class="circle" src="{{ url_for('static', filename=evento.logo) }}">
                      {% else %}
                      <img class="circle" src="{{ url_for('static', filename='img/stelo.jpg') }}">
                      {% endif %}
                      <span><a href="{{ url_for('konkretaEvento', nomo=evento.nomo) }}">{{ evento.nomo }}</a></span>
                      <p>Okazis je la {{ evento.ektempo }}</p>
                  </li>
                  {% endfor %}
              </ul>
              {% endfor %}
        {% endif %}
      </div>
      <div class="col s12">
      </div>
      <!--- la karto -->
      <div id="mapo" class="col s10 offset-s1"></div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet.markercluster/dist/leaflet.markercluster.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var eventoj = [
                      {% for gevento, konk_eventoj in eventoj.items() %}
                      {% for evento in konk_eventoj%}
                          {{ evento|tojson_str_encoded|safe }},
                      {% endfor %}
                      {% endfor %}
        ]
        initMapo(eventoj);
    });
</script>
{% endblock %}
