{% extends "base.html" %}

{% block header %}
    <style>
      #cont-m {
        margin-top: 50px;
        padding-buttom: 50px;
      }
    </style>
    <link rel="stylesheet" href="{{ url_for('static',  filename='node_modules/leaflet/dist/leaflet.css') }}">
{% endblock %}

{% block body %}
<div class="row center-align container z-depth-1" id="cont-m">
  <div class="col grey lighten-4 s12">
    <h3 class="grey-text text-darken-4">{{ uzanto.nomo }}</h3>
    <div class="col s12 m3">
          <a class="" href="/evento/{{ uzanto.orga_mallongigo }}">
            {% if uzanto.logo %}
            <img class="fillwidth responsive-img" src="{{ url_for('static', filename=uzanto.logo) }}">
            {% else %}
            <img class="fillwidth responsive-img" src="{{ url_for('static', filename='img/stelo.jpg') }}">
            {% endif %}
          </a>
    </div>
    <div class="col s12 m9 left-align">
      <p>
        {{ uzanto.nomo }} ({{ uzanto.orga_mallongigo}}) estas organizata de la <a href="{{ url_for('uzanto', nomo=uzanto.nomo) }}">{{uzanto.nomo}}</a>.
      </p>
    </div>
    <div class="col s10 offset-s1">
        <p>{{ uzanto.nomo }} organizas tiuj eventoj regule:</p>
        {% for team_nomo, geventoj in koorps.items() %}
        {% if (geventoj.values()|list) != [[]] %}
        <h5>Kiel parte de la {{ team_nomo }}:</h5>
              {% for gevento, eventoj in geventoj.items() %}
              <ul class="collection">
                  {% for evento in eventoj[:2] %}
                  <li class="collection-item avatar">
                      {% if evento.logo != None %}
                      <img class="circle" src="{{ url_for('static', filename=evento.logo) }}">
                      {% else %}
                      <img class="circle" src="{{ url_for('static', filename='img/stelo.jpg') }}">
                      {% endif %}
                      <span><a href="{{ url_for('konkretaEvento', nomo=evento.nomo) }}">{{ evento.nomo }}</a></span>
                      <p>Okazis je la {{ evento.ektempo }}</p>
                  </li>
                  {% endfor %}
              </ul>
              {% endfor %}
        {% endif %}
        {% endfor %}
      </div>
      <div class="col s12">
      </div>
      <!--- la karto -->
      <div id="mapo" class="col s10 offset-s1"></div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var eventoj = [
                      {% for team_nomo, geventoj in koorps.items() %}
                      {% for gevento, eventoj in geventoj.items() %}
                      {% for evento in eventoj%}
                          {{ eventoj|tojson_str_encoded|safe }},
                      {% endfor %}
                      {% endfor %}
                      {% endfor %}
        ]
        initMapo(eventoj);
    });
</script>
{% endblock %}
